.home-admin-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  font-family: Arial, sans-serif;
  box-sizing: border-box; 

   border-width: 12px;
  border-style: solid;
  border-image-source: linear-gradient(45deg, #e75480, #E0BBE4, #ffc0cb);
  border-image-slice: 1;
}
